BveTs Vehicle Sound 3.00

[MTR]
DoorCloseSoundLength = 0.5
BreakerDelay = 0.2
MotorOutputAtCoast = 0
RegenerationLimit = 0

[Brake]
BC Release High = airZero.wav
BC Release = airZero.wav
BC Release Full = airZero.wav

;[Compressor]
;Attack = cp_start.wav
;Loop = cp_loop.wav
;Release = Sounds\cp_end.wav

[Motor]
0 = M0.wav
1 = M1.wav
2 = M2.wav
3 = M3.wav
4 = M4.wav
5 = M5.wav
6 = M6.wav
7 = M7.wav
8 = M8.wav
9 = M9.wav

[Run]
0 = run0.wav

[Joint]
0 = Point.wav

[Door]
Open = DoorOpn.wav
Close = DoorCls.wav

[Flange]
0 = Flange0.wav

[Others]
Noise = Loop.wav